* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

$screen_size: 1400px;

@mixin flex_for_page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 174px;
}

// перевизначити значення в моб версії без if
@mixin skill_line($level) {
    margin-top: 24px;
    @if $screen_size <= 900px{
        width: 211px;
        height: 18px;
    } @else {
        width: 446px;
        height: 24px;
    }
    background-color: #F5D6AB;
    div {
        display: block;
        width: $level;
        height: 100%;
        background-color: #C66C49;
    }
}

$backcolor: #FFFAF2;
$white: #FFFFFF;

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: 100%;
    min-height: 100%;
    font-family: 'Libre Franklin', sans-serif;
}

.header {
    position: relative;
    @include flex_for_page;
    height: 810px;
    font-size: 18px;
    color: $white;
    background: url(images/bg_full.png), rgba(198, 108, 73, 0.3);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    .header_main {
        padding-top: 3%;
        display: flex;
        width: 100%;
    }
    .title {
        font-size: 24px;
    }
    .header_center{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
            padding-top: 5%;
            font-size: 64px;
        }
        .place {
            padding-top: 5%;
            font-size: 24px;
        }
    }
    .latest_works{
        padding-bottom: 14%;
        text-decoration: underline;
    }
    nav {
        padding-left: 35%;
        display: flex;
        justify-content: space-around;
        width: 620px;
    }
}

.about {
    @include flex_for_page;
    justify-content: center;
    padding-bottom: 72px;
    padding-right: 167px;
    height: 480px;
    text-align: justify;
    font-size: 18px;
    line-height: 32px;
    h1{
        padding-bottom: 32px;
    }
    p {
        padding-top: 32px;
    }
}

.skills {
    @include flex_for_page;
    padding-top: 48px;
    height: 693px;
    position: relative;
    background-color: $backcolor;
    text-align: left;
    font-size: 18px;
    img {
        width: 350px;
        height: 340px;
        margin-bottom: 100px;
    }
    .skills_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    table {
        padding-right: 15%;
        font-size: 20px;
        height: 340px;
        .table_start {
            padding-bottom: 40px;
        }
        th {
            padding-right: 13px;
        }
        .padding {
            padding-right: 20px;
        }
    }
    .front_skill{
        @include skill_line(64%);
        margin-top: 0;
    }
    .design_skill {
        @include skill_line(78%);
        margin-top: 0;
    }
    .research_skill {
        @include skill_line(85%);
        margin-top: 0;
    }
}

.portfolio {
    @include flex_for_page;
    justify-content: flex-start;
    position: relative;
    height: 822px;
    font-size: 18px;
    h1 {
        padding-top: 93px;
    }
    h3 {
        padding-top: 86px;
    }
    .portfolio_text {
        flex-grow: 5;
        padding-top: 48px;
        text-align: justify;
        font-weight: 400;
        max-width: 308px;
    }
    .portfolio_photo {
        position: absolute;
        right: 135px;
        bottom: 179px;
        display: flex;
        justify-content: space-around;
        width: 650px;
        img {
            width: 100%;
            padding-bottom: 15px;
        }
        .column1 {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            max-height: 290px;
        }
        .column2 {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            max-height: 290px;
        }
    }
}

.arrow {
    position: absolute;
    right: 192px;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
}

.left {
    left: 170px;
    bottom: 140px;
    transform: rotate(135deg);
}

.right {
    left: 200px;
    bottom: 140px;
    transform: rotate(-45deg);
}

.contacts {
    @include flex_for_page;
    justify-content: center;
    position: relative;
    height: 528px;
    background-color: $backcolor;
    text-align: left;
    font-size: 18px;
    .footer_title {
        padding-top: 48px;
        font-weight: 600;
        font-size: 24px;
    }
    .contacts_list {
        display: flex;
        min-width: 320px;
        font-size: 18px;
        // padding-left: 34px;
        // padding-bottom: 24px;
        ul {
            margin-top: 40px;
            margin-right: 324px;
            list-style: none;
        }
        li {
            margin-top: 19px;
        }
    }
    .mail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60px;
        position: absolute;
        top: 238px;
        right: 347px;
        width: 180px;
    }
}


// media starting here just look


@media screen and (max-width: 900px) {
    .left, .right {
        display: none;
    }

    $screen_size: 900px;

    .large {
        display: none;
    }
    .small {
        display: inherit;
    }
    body {
        text-align: center;
    }

    .header {
        justify-content: space-evenly;
        align-items: center;
        height: 275px;
        padding-left: 0;
        background: none;
        background: url(images/bg.png), rgba(198, 108, 73, 0.4);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        .header_main {
            justify-content: center;
        }
        .header_center {
            .name {
                padding-top: 10px;
                font-size: 20px;
            }
            .place {
                padding-top: 12px;
                font-size: 13px;
            }
        }
        .latest_works {
            font-size: 13px;
            padding-bottom: 10px;
        }
        nav {
            display: none;
        }
    }

    .title {
            font-weight:bolder;
            font-size: 24px;
            line-height: 26px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        padding-top: 5px;
        left: 34px;
        width: 24px;
        height: 18px;
        div {
            width: 24px;
            height: 1px;
            background-color: $white;
        }
    }
    
    .about {
        align-items: center;
        font-size: 12px;
        height: 278px;
        line-height: initial;
        padding: 10px 30px 10px 34px;
        h1{
            padding-bottom: 24px;
        }
        p {
            padding-top: 16px;
        }
    }

    .skills {
        padding-top: 10px;
        padding-bottom: 15px;
        align-items: center;
        padding-left: 0;
        height: 588px;
        font-size: 12px;
        .skills_content {
            align-items: center;
            flex-direction: column;
        }
        img {
            width: 224px;
            height: 218px;
            margin-bottom: 10px;
        }
        table {
            padding-left: 44px;
            font-size: 12px;
            max-height: 269px;
            .table_start {
                padding-bottom: 20px;
            }
            th {
                padding-right: 0;
                min-width: 80px;
            }
            .padding{
                padding-top: 22px;
            }
        }
        .front_skill{
            width: 211px;
            height: 18px;
        }
        .design_skill {
            width: 211px;
            height: 18px;
        }
        .research_skill {
            width: 211px;
            height: 18px;
        }
    }
    
    .portfolio {
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        padding-left: 0;
        height: 404px;
        font-size: 12px;
        
        h1 {
            padding: 16px 0 0 0;
        }
        h3 {
            padding: 24px 0 0 0;
        }
        .portfolio_text {
            padding: 16px 0 0 0;
            flex-grow: 0;
            text-align: center;
            font-weight: normal;
            max-width: 308px;
            .indenty {
                text-align: center;
                padding: 0;
                text-indent: 2px;
            }
        }
        .portfolio_photo {
            display: flex;
            justify-items: center;
            position: initial;
            padding-top: 20px;
            max-width: 318px;
            img {
                width: 94%;
            }
        }
    }

    .contacts {
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0;
        position: relative;
        height: 360px;
        background-color: $backcolor;
        text-align: left;
        font-size: 14px;
        .footer_title {
            padding-top: 32px;
            font-weight: 600;
            font-size: 24px;
        }
        .contacts_list {
            display: flex;
            min-width: 320px;
            font-size: 14px;
            padding-left: 34px;
            padding-bottom: 24px;
            ul {
                margin-top: 0;
                margin-right: 100px;
                list-style: none;
            }
            li {
                margin-top: 19px;
            }
        }
        .mail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 40px;
            position: initial;
            padding-left: 40px;
            padding-bottom: 42px;
            align-self: flex-start;
            max-width: 140px;
        }
        .arrow {
            height: 10px;
            width: 10px;
            right: 32px;
            bottom: 56px;
        }
    }
}